/*
========
Variables
=========
*/
:root {
  --mintGreen1: rgb(216, 238, 235);
  --mintGreen2: rgb(108, 124, 121);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  margin: 0;
}
/* 
====== 
Navbar
======
*/
.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: black;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3%;
  max-width: 4000px;
}
.nav-links {
  display: flex;
  list-style-type: none;
  padding-top: 0.75rem;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--mintGreen1);
}

.logo {
  width: 13rem;
  height: 4rem;
  float: left;
}
